/* for stylish text  */
@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Mirza&family=Open+Sans&family=Philosopher&display=swap");
@import "./component/variables/Variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* for stylish text  */
.boxStyledText {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 5px;
}
.boxStyledText li {
  padding: 0 8px;
  margin: 1px;
  color: white;
  background-color: var(--signature-color);
  border-radius: 3px;
  font-weight: bold;
  color: #353535;
  background: white;
  border: 1px solid #686868d1;
}
.boxStyledText.darkMode li {
  background: rgb(26, 26, 26);
  color: rgb(255, 255, 255);
}

/* for user  */
.userProfileMainBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  margin: 2px;
}
.userProfileMainBox .userFollowing {
  border: none;
  box-shadow: 0px 0px 1px tomato;
  color: tomato;
  padding: 7px 8px;
  border-radius: 4px;
  background-color: transparent;
  font-family: "AR One Sans", sans-serif;
  margin-right: 2px;
}
.userProfileMainBox .userFollow {
  border: none;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.507);
  color: black;
  padding: 7px 18px;
  border-radius: 4px;
  background-color: transparent;
  font-family: "AR One Sans", sans-serif;
  font-family: "Mirza", serif;
  font-size: 1.1rem;
  transition: all 0.2s;
  margin-right: 2px;
}
.userProfileMainBox .userFollow:hover {
  box-shadow: 0px 0px 1px rgb(250, 68, 35);
  color: tomato;
  cursor: pointer;
}
.userProfileBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 4px 0px;
}
.userProfileBox > .imgBox {
  width: 34px;
  height: 34px;
  border-radius: 20%;
  margin-right: 18px;
  border: 1px solid rgb(6 6 6 / 39%);
  overflow: hidden;
  cursor: pointer;
}
.userProfileBox > .imgBox > img {
  width: 100%;
}
.userProfileInfo > .name {
  font-size: 0.9rem;
}
/* to unfollow the user un list  */
.unfollowLists {
  text-decoration: none;
  width: 100px;
  height: 60px;
  background-color: white;
  border: 1px solid rgba(255, 112, 86, 0.636);
  color: tomato;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -10;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s;
}
.unfollowLists.add {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}
.unfollowLists > li {
  list-style: none;
}
.unfollowLists > li:nth-child(2) {
  color: green;
}

/* to remove followers */
.removeFollowers {
  text-decoration: none;
  width: 100px;
  height: 60px;
  background-color: white;
  border: 1px solid rgba(255, 112, 86, 0.636);
  color: tomato;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -10;
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.3s;
}
.removeFollowers.add {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}
.removeFollowers > li {
  list-style: none;
}
.removeFollowers > li:nth-child(2) {
  color: green;
}

/* see all  */

.seeAll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.seeAll > button {
  background-color: transparent;
  border: none;
  color: tomato;
  display: flex;
  align-items: center;
}
.seeAll > button > svg {
  font-size: 1rem;
}

/* for text see more or see less  */
.textSizing {
  color: #535353;
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0px;
  letter-spacing: 0.2px;
  padding: 0px 7px;
}
.textSizing > button {
  background-color: transparent;
  border: none;
  color: tomato;
  margin-left: 10px;
  font-size: 0.6rem;
}

/* not found page  */
.notfoundPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notfoundPage > button {
  padding: 5px 10px;
  border: 1px solid tomato;
  border-radius: 5px;
  color: tomato;
  background-color: white;
  transition: all 0.3s ease;
}
.notfoundPage > button:hover {
  padding: 5px 10px;
  border: 1px solid tomato;
  border-radius: 5px;
  background-color: tomato;
  color: white;
}
